@model js_kieunt.Models.Blog

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>ListBlogs</h2>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kieu_Blog_Manager</title>
   
</head>
<body>
    <br />
    <div class="container-fluid">
        <table class="table table-bordered">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Tin
                </th>
                <th>
                    Loại
                </th>
                <th>
                    Trạng thái
                </th>
                <th>
                    Vị trí
                </th>
                <th>
                    Ngày public
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
            @foreach (var item in Model.ListBlogs)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPostedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "createEditBlog", new { id = item.BlogID }, new { @class = "btn btn-link" })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.BlogID }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
            }
        </table>
        @if (TempData["InsertResult"] != null)
        {
            <script type="text/javascript">

                alert("Record Is Inserted Successfully");
            </script>

        }
        @if (TempData["UpdateResult"] != null)
        {
            <script type="text/javascript">

                alert("Record Is Updated Successfully");
            </script>

        }
        @if (TempData["DeleteResult"] != null)
        {
            <script type="text/javascript">

                alert("Record Is Deleted Successfully");
            </script>

        }
    </div>
</body>
</html>

